<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Table Edit Customer</h2>
    <form th:action="@{/create}" method="post">
        <table class="table">
            <tbody>
            <tr>
                <td>name</td>
                <td>BirthDay</td>
                <td>Address</td>
                <td>Phone</td>
                <td>Email</td>
                <td>Class</td>

            </tr>
            <tr th:object="${student}">

                <td>
                    <input th:field="*{student_name}">
<!--                    <span style="color: red" th:if="${#fields.hasErrors('code')}"-->
<!--                          th:errors="*{code}"></span>-->
                </td>
                <td>
                    <input type="date" th:field="*{student_birthday}">
                    <!--                    <span style="color: red" th:if="${#fields.hasErrors('code')}"-->
                    <!--                          th:errors="*{code}"></span>-->
                </td>
                <td>
                    <input th:field="*{student_address}">
<!--                    <span style="color: red" th:if="${#fields.hasErrors('salary')}"-->
<!--                          th:errors="*{salary}"></span>-->
                </td>
                <td>
                    <input th:field="*{student_phone}">
<!--                    <span style="color: red" th:if="${#fields.hasErrors('age')}"-->
<!--                          th:errors="*{age}"></span>-->
                </td>
                <td>
                    <input th:field="*{student_email}">
                    <!--                    <span style="color: red" th:if="${#fields.hasErrors('age')}"-->
                    <!--                          th:errors="*{age}"></span>-->
                </td>


                <td><select th:field="*{classroom}">
                    <option th:each="classroom :${classroomList}" th:value="${classroom.class_id}" th:text="${classroom.class_name}"></option>
                </select></td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-success">Create </button>

    </form>
</div>
</body>
</html>